# Pandas -  Converting a string feature of Data frame to int

In [1]:
import pandas as pd

In [7]:
data = {'Student_ID': [1,2,3,4,5,6,7,8,9,10],'MathScore':['pass','fail','fail','fail','pass','pass','pass','pass','pass','fail']}
print(data)

{'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'MathScore': ['pass', 'fail', 'fail', 'fail', 'pass', 'pass', 'pass', 'pass', 'pass', 'fail']}

In [8]:
df = pd.DataFrame(data)

In [9]:
df

  MathScore  Student_ID
0      pass           1
1      fail           2
2      fail           3
3      fail           4
4      pass           5
5      pass           6
6      pass           7
7      pass           8
8      pass           9
9      fail          10

In [18]:
def trans_MathScore(x):
    if x == 'pass':
        return 1
    if x == 'fail':
        return 0

In [20]:
df['trans_MathScore'] = df['MathScore'].apply(trans_MathScore)

In [21]:
df

  MathScore  Student_ID  trans_MathScore
0      pass           1                1
1      fail           2                0
2      fail           3                0
3      fail           4                0
4      pass           5                1
5      pass           6                1
6      pass           7                1
7      pass           8                1
8      pass           9                1
9      fail          10                0